a, a:link, a:visited, a:active, a:hover {
	color: #cccccc;
	text-decoration:none;
}

header {
	background-color:#181818;
	
}

nav {
	background-color:#181818;
	
}

section {
	background-color:#181818;
	
}

footer {
	background-color:#181818;
	
}